@media only screen and (max-width: 480px) {
  .all-projects-block {
    width: 400px !important;
    height: 89%;
  }

  .all-projects-header-text {
    width: 380px;
  }

  .filter-sort-block {
    width: 400px;
    display: flex;
    left: 0;
    height: 30px;
  }
}

.all-projects-block {
  margin-top: 60px;
  width: 1070px;
  position: relative;

  .shadow-navbar {
    position: absolute;
    margin-left: -624px;
    margin-top: 1190px;
    height: 990px;
    width: 280px;
    background-color: #15173c;
    border-right: 1px solid #26264a;
  }

  .all-projects-header-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8186af;
    margin-left: 20px;
    width: 400px;
  }

  .filter-sort-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sort-block {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-right: 50px;
    margin-left: auto;
    z-index: 2;
  }

  .sort-block p {
    margin-right: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }
}
