.all-projects-block {
  margin-top: 50px;
  width: 1070px;
  margin-left: -15px;
  

  .all-projects-header-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8186af;
    margin-left: 20px;
  }

  .filter-sort-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .sort-block {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    right: 20px;
    margin-left: auto;
    z-index: 2;
  }

  .sort-block p {
    margin-right: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }
}
