.navbar-support {
  margin-top: 30px;

  .navbar-support-mail {
    background: {
      image: url("../../../assets/img/support-icons/mail-icon.svg");
      repeat: no-repeat;
      position: 32px center;
    }
    padding-right: 15px;

    span {
      padding-left: 54px;
    }

    &:hover {
      background: {
        image: url("../../../assets/img/support-icons/hovered-mail-icon.svg");
        repeat: no-repeat;
        position: 32px center;
      }
    }
  }

  p {
    color: #8186af;
    font: {
      size: 10px;
      weight: 700;
      family: "Inter", sans-serif;
    }
    margin-left: 35px;
    line-height: 12px;
  }

  ul {
    margin-left: -20px;

    li {
      width: 235px;
      height: 38px;
      border-radius: 5px;
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: start;
      border: 1px solid #ffffff00;

      &:hover {
        background-color: #fa544d;
        border: 1px solid #ffffff;

        span {
          color: #ffffff;
          font-weight: 700;
        }
      }

      img {
        margin-left: 30px;
      }

      .fb-icon, .fb-text {
        margin-left: 30px;
      }

      span {
        color: #8186af;
        font: {
          weight: 400;
          size: 14px;
          line-height: 17.07px;
          family: "Montserrat";
        }
      }
    }
  }
}
