.subbar {
  width: 285px;
  height: 7550px;
  background: #13153a;
  border: 1px solid #323054;
  border-left: none;
  border-bottom: none;

  margin-left: 280px;
  span {
    white-space: nowrap;
  }
}
