body {
  background-color: #090b32;
  margin: 0;
  // padding: 0;
}
.home {
  display: flex;
  height: fit-content;
}

@media only screen and (min-width: 1400px) {
  .home {
    margin-left: calc((100vw - 1400px) / 2);
  }
}

@media only screen and (max-width: 480px) {
  .home {
    width: 390px;
    // border: 2px solid yellow;
  }
}
