.upButton {
  position: fixed;
  right: 3%;
  top: 50%;
  bottom: 20px;
  background: #1e2044;
  border: 1px solid #323054;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: 1400px) {
  .upButton {
    right: calc((100vw - 1400px) / 2 );
  }
}
