.dashboard-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

@media only screen and (min-width: 1400px) {
  .dashboard-page {
    margin-left: calc((100vw - 1500px) / 2);
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-page {
    width: 390px;
   
  }
  .dashboard-content-block {
    position: absolute;
    left: -350px;
    top: -130px;
    transform: scale(0.49);
  }
}

.dashboard-content-block {
  order: 1;
  flex-grow: 1;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  max-width: calc(100% - 592px);
}

.dashboard-item-title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #8186af;
  position: absolute;
  top: -50px;
}

.calculator-milestones-container {
  display: flex;
  margin-top: 520px;
  padding-right: 0;
  width: 775px;
}
